In [27]:
ages = [21,25,19,19,25,22,24,24,27,34,77,99]

In [28]:
mean_age = sum(ages)/len(ages)
mean_age

34.666666666666664

In [57]:
sorted_ages = sorted(ages)
print("Sorted Ages = ", sorted_ages)
length = len(ages)
print("Length = ", length)
median = length//2
print("median = ", median)
median_age = (sorted_ages[length//2] if length % 2 !=0 else (sorted_ages[length//2 -1] + sorted_ages[length//2])/2)
print("Median AGE = ", median_age)

first = sorted_ages[length//2 -1]
print("First",first)
first2 = sorted_ages[length//2]
print("First",first2)

result = (sorted_ages[length//2 -1] + sorted_ages[length//2])/2
print(result)

Sorted Ages =  [19, 19, 21, 22, 24, 24, 25, 25, 27, 34, 77, 99]
Length =  12
median =  6
Median AGE =  24.5
First 24
First 25
24.5

In [46]:
from collections import Counter

mode_data = Counter(ages)
print(mode_data)
print(mode_data.values())
max_frequency = max(mode_data.values())
print(max_frequency)
modes = [k for k , v in mode_data.items() if v == max_frequency]
print(modes)

Counter({25: 2, 19: 2, 24: 2, 21: 1, 22: 1, 27: 1, 34: 1, 77: 1, 99: 1})
dict_values([1, 2, 2, 1, 2, 1, 1, 1, 1])
2
[25, 19, 24]

Pandas

In [48]:
import pandas as pd

In [51]:
df = pd.DataFrame(ages,columns=["Age"])
df

    Age
0    21
1    25
2    19
3    19
4    25
5    22
6    24
7    24
8    27
9    34
10   77
11   99

In [72]:
df.Age.median()

np.float64(24.5)

In [74]:
df.Age.mode()

0    19
1    24
2    25
Name: Age, dtype: int64

In [75]:
df.Age.mean()

np.float64(34.666666666666664)