In [21]:
def min_max_scaling(data):
    min_val = min(data)
    max_val = max(data)
    scaled_data = [(x-min_val) / (max_val-min_val) for x in data]
    return scaled_data

In [24]:
data = [1,2,3,4,5]
scaled = min_max_scaling(data)
print("original data = ",data)
print("Scaled DATA = ",scaled)

original data =  [1, 2, 3, 4, 5]
Scaled DATA =  [0.0, 0.25, 0.5, 0.75, 1.0]

In [27]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [28]:
data = {
    "Feature1":[10,20,15,5],
    "Feature2":[20,30,25,15]
}

In [30]:
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0        10        20
1        20        30
2        15        25
3         5        15

In [34]:
Scaler = MinMaxScaler()
scaled_data = Scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data)
scaled_df

          0         1
0  0.333333  0.333333
1  1.000000  1.000000
2  0.666667  0.666667
3  0.000000  0.000000

In [36]:
print("Original DataFrame")
df

Original DataFrame

   Feature1  Feature2
0        10        20
1        20        30
2        15        25
3         5        15