In [1]:
import pandas as pd

In [3]:
data = {'scores': [88,92,100,83,97,75]}
print(type(data))
df = pd.DataFrame(data)
df

<class 'dict'>

   scores
0      88
1      92
2     100
3      83
4      97
5      75

In [4]:
standard_deviation = df['scores'].std()
standard_deviation

np.float64(9.239408350466315)

In [5]:
variance = df['scores'].var()
variance

np.float64(85.36666666666666)